In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3
# import sklearn

# from sklearn.model_selection import train_test_split
# from sklearn.preprocessing import StandardScaler
# from sklearn.linear_model import LinearRegression
# from sklearn.tree import DecisionTreeClassifier
# from sklearn.ensemble import RandomForestClassifier
# from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

# import tensorflow as tf
# from tensorflow import keras

# import statsmodels.api as sm

import warnings
warnings.filterwarnings("ignore")

pd.set_option('display.max_columns', None)

In [2]:
conn = sqlite3.connect('NBA-Boxscore-Database.sqlite')

In [3]:
query = 'SELECT * from game_info'
game_info = pd.read_sql(query, con=conn)
game_info

,game_id,season,date,away_team,away_score,home_team,home_score,result
0,131410290001,1314,2013-10-29,ORL,87,IND,97,1
1,131410290002,1314,2013-10-29,CHI,95,MIA,107,1
2,131410290003,1314,2013-10-29,LAC,103,LAL,116,1
3,131410300004,1314,2013-10-30,BRK,94,CLE,98,1
4,131410300005,1314,2013-10-30,BOS,87,TOR,93,1
...,...,...,...,...,...,...,...,...
11974,222304091226,2223,2023-04-09,UTA,117,LAL,128,1
11975,222304091227,2223,2023-04-09,NOP,108,MIN,113,1
11976,222304091228,2223,2023-04-09,MEM,100,OKC,115,1
11977,222304091229,2223,2023-04-09,LAC,119,PHO,114,0
11978,222304091230,2223,2023-04-09,GSW,157,POR,101,0

In [4]:
query = 'SELECT * from player_stats'
player_stats = pd.read_sql(query, con=conn)
player_stats

,game_id,player,team,MP,FG,FGA,FGp,3P,3PA,3Pp,FT,FTA,FTp,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,PM,TSp,eFGp,3PAr,FTr,ORBp,DRBp,TRBp,ASTp,STLp,BLKp,TOVp,USGp,ORtg,DRtg,BPM,PIE
0,131410290001,Arron Afflalo,ORL,32:59,3.0,14.0,0.214,1.0,5.0,0.200,2.0,3.0,0.667,1.0,2.0,3.0,1.0,0.0,0.0,1.0,1.0,9.0,-14.0,0.294,0.250,0.357,0.214,3.1,8.1,5.3,4.6,0.0,0.0,6.1,20.8,69.0,111.0,-9.9,-1.1
1,131410290001,Nikola Vučević,ORL,30:39,4.0,11.0,0.364,0.0,0.0,NaN,0.0,0.0,NaN,5.0,5.0,10.0,3.0,2.0,1.0,5.0,4.0,8.0,-22.0,0.364,0.364,0.000,0.000,16.7,21.8,18.9,15.8,3.3,2.9,31.3,21.9,70.0,98.0,-5.4,3.8
2,131410290001,Jameer Nelson,ORL,30:34,4.0,13.0,0.308,3.0,7.0,0.429,1.0,1.0,1.000,1.0,4.0,5.0,7.0,2.0,0.0,2.0,1.0,12.0,-11.0,0.446,0.423,0.538,0.077,3.3,17.4,9.5,37.0,3.3,0.0,13.0,21.2,102.0,101.0,5.9,10.3
3,131410290001,Jason Maxiell,ORL,26:19,0.0,5.0,0.000,0.0,0.0,NaN,0.0,0.0,NaN,1.0,4.0,5.0,0.0,1.0,2.0,2.0,2.0,0.0,-15.0,0.000,0.000,0.000,0.000,3.9,20.3,11.0,0.0,1.9,6.8,28.6,11.2,8.0,99.0,-10.6,-1.9
4,131410290001,Maurice Harkless,ORL,23:30,6.0,13.0,0.462,2.0,2.0,1.000,0.0,1.0,0.000,1.0,0.0,1.0,0.0,1.0,0.0,0.0,4.0,14.0,-3.0,0.521,0.538,0.154,0.077,4.3,0.0,2.5,0.0,2.2,0.0,0.0,24.0,111.0,107.0,2.4,2.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305727,222304091230,John Butler,POR,22:01,1.0,5.0,0.200,1.0,3.0,0.333,0.0,0.0,NaN,0.0,1.0,1.0,0.0,0.0,0.0,0.0,2.0,3.0,-37.0,0.300,0.300,0.600,0.000,0.0,6.6,2.5,0.0,0.0,0.0,0.0,9.1,58.0,149.0,-14.6,-0.7
305728,222304091230,Chance Comanche,POR,20:47,3.0,5.0,0.600,0.0,0.0,NaN,1.0,4.0,0.250,2.0,1.0,3.0,0.0,0.0,1.0,0.0,0.0,7.0,-29.0,0.518,0.600,0.000,0.800,8.4,7.0,7.9,0.0,0.0,4.9,0.0,13.1,110.0,146.0,-7.6,1.7
305729,222304091230,Jabari Walker,POR,20:44,4.0,6.0,0.667,0.0,2.0,0.000,1.0,2.0,0.500,0.0,3.0,3.0,0.0,0.0,0.0,2.0,0.0,9.0,-29.0,0.654,0.667,0.333,0.333,0.0,21.0,7.9,0.0,0.0,0.0,22.5,17.2,89.0,147.0,-9.8,2.6
305730,222304091230,Drew Eubanks,POR,Did Not Dress,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
305731,222304091230,Cam Reddish,POR,Did Not Dress,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# player, SUM(FG), SUM(FGA), SUM(FT), SUM(FTA), SUM("3P"), SUM(ORBp), SUM(TOV)

game_id = 222304091230
query = f'''select player, SUM(FG), SUM(FGA), SUM(FT), SUM(FTA), SUM("3P"), SUM(ORBp), SUM(TOV)
from ( select ROW_NUMBER() OVER (PARTITION BY d.player order by d.date desc ) r, d.*  
    from ( select game_id, player from player_stats ps where ps.game_id={game_id} ) gs
    inner join ( select b.date,  a.* from player_stats a inner join game_info b on a.game_id = b.game_id ) d
        on gs.player=d.player
) k
where (k.r BETWEEN 2 and 11)
group by player;'''

ss = pd.read_sql(query, con=conn)

In [6]:
ss

,player,SUM(FG),SUM(FGA),SUM(FT),SUM(FTA),"SUM(""3P"")",SUM(ORBp),SUM(TOV)
0,Anthony Lamb,16.0,40.0,13.0,15.0,7.0,61.2,7.0
1,Cam Reddish,11.0,27.0,7.0,7.0,1.0,9.9,4.0
2,Donte DiVincenzo,32.0,66.0,10.0,14.0,16.0,67.4,23.0
3,Draymond Green,40.0,73.0,9.0,12.0,3.0,39.7,39.0
4,Drew Eubanks,40.0,79.0,15.0,22.0,4.0,92.3,13.0
5,Gary Payton II,20.0,32.0,4.0,5.0,5.0,84.5,6.0
6,JaMychal Green,11.0,18.0,3.0,3.0,2.0,87.1,0.0
7,Jabari Walker,33.0,85.0,10.0,12.0,9.0,65.8,8.0
8,Jeenathan Williams,17.0,27.0,0.0,1.0,2.0,41.2,3.0
9,John Butler,15.0,43.0,3.0,4.0,7.0,8.8,1.0
10,Jonathan Kuminga,51.0,83.0,20.0,32.0,13.0,70.7,7.0
11,Jordan Poole,61.0,142.0,58.0,66.0,25.0,9.2,21.0
12,Justin Minaya,6.0,15.0,0.0,0.0,3.0,15.0,3.0
13,Kevin Knox,55.0,121.0,15.0,21.0,17.0,41.4,18.0
14,Kevon Looney,24.0,47.0,19.0,27.0,0.0,199.6,7.0
15,Klay Thompson,76.0,176.0,10.0,11.0,43.0,2.4,19.0
16,Lester Quinones,0.0,3.0,1.0,2.0,0.0,0.0,4.0
17,Moses Moody,15.0,21.0,0.0,1.0,6.0,51.4,3.0
18,Patrick Baldwin Jr.,0.0,3.0,0.0,0.0,0.0,0.0,1.0
19,Shaedon Sharpe,79.0,169.0,32.0,42.0,29.0,27.8,25.0
20,Skylar Mays,27.0,51.0,7.0,8.0,10.0,6.3,8.0
21,Stephen Curry,94.0,210.0,37.0,41.0,42.0,27.4,26.0
22,Trendon Watford,43.0,74.0,16.0,21.0,3.0,14.8,8.0

In [7]:
id_ref = player_stats[['player', 'team', 'game_id']]
id_ref

                  player team       game_id
0          Arron Afflalo  ORL  131410290001
1         Nikola Vučević  ORL  131410290001
2          Jameer Nelson  ORL  131410290001
3          Jason Maxiell  ORL  131410290001
4       Maurice Harkless  ORL  131410290001
...                  ...  ...           ...
305727       John Butler  POR  222304091230
305728   Chance Comanche  POR  222304091230
305729     Jabari Walker  POR  222304091230
305730      Drew Eubanks  POR  222304091230
305731       Cam Reddish  POR  222304091230

[305732 rows x 3 columns]

In [8]:
mm = pd.merge(ss, id_ref[['player', 'team']][id_ref['game_id'] == game_id], on=['player'])
mm

,player,SUM(FG),SUM(FGA),SUM(FT),SUM(FTA),"SUM(""3P"")",SUM(ORBp),SUM(TOV),team
0,Anthony Lamb,16.0,40.0,13.0,15.0,7.0,61.2,7.0,GSW
1,Cam Reddish,11.0,27.0,7.0,7.0,1.0,9.9,4.0,POR
2,Donte DiVincenzo,32.0,66.0,10.0,14.0,16.0,67.4,23.0,GSW
3,Draymond Green,40.0,73.0,9.0,12.0,3.0,39.7,39.0,GSW
4,Drew Eubanks,40.0,79.0,15.0,22.0,4.0,92.3,13.0,POR
5,Gary Payton II,20.0,32.0,4.0,5.0,5.0,84.5,6.0,GSW
6,JaMychal Green,11.0,18.0,3.0,3.0,2.0,87.1,0.0,GSW
7,Jabari Walker,33.0,85.0,10.0,12.0,9.0,65.8,8.0,POR
8,Jeenathan Williams,17.0,27.0,0.0,1.0,2.0,41.2,3.0,POR
9,John Butler,15.0,43.0,3.0,4.0,7.0,8.8,1.0,POR
10,Jonathan Kuminga,51.0,83.0,20.0,32.0,13.0,70.7,7.0,GSW
11,Jordan Poole,61.0,142.0,58.0,66.0,25.0,9.2,21.0,GSW
12,Justin Minaya,6.0,15.0,0.0,0.0,3.0,15.0,3.0,POR
13,Kevin Knox,55.0,121.0,15.0,21.0,17.0,41.4,18.0,POR
14,Kevon Looney,24.0,47.0,19.0,27.0,0.0,199.6,7.0,GSW
15,Klay Thompson,76.0,176.0,10.0,11.0,43.0,2.4,19.0,GSW
16,Lester Quinones,0.0,3.0,1.0,2.0,0.0,0.0,4.0,GSW
17,Moses Moody,15.0,21.0,0.0,1.0,6.0,51.4,3.0,GSW
18,Patrick Baldwin Jr.,0.0,3.0,0.0,0.0,0.0,0.0,1.0,GSW
19,Shaedon Sharpe,79.0,169.0,32.0,42.0,29.0,27.8,25.0,POR
20,Skylar Mays,27.0,51.0,7.0,8.0,10.0,6.3,8.0,POR
21,Stephen Curry,94.0,210.0,37.0,41.0,42.0,27.4,26.0,GSW
22,Trendon Watford,43.0,74.0,16.0,21.0,3.0,14.8,8.0,POR

In [10]:
nn = mm.groupby('team').sum()/10
nn

      SUM(FG)  SUM(FGA)  SUM(FT)  SUM(FTA)  SUM("3P")  SUM(ORBp)  SUM(TOV)
team
GSW      44.0      91.4     18.4      22.9       16.2      70.06      16.3
POR      32.6      69.1     10.5      13.8        8.5      32.33       9.1

In [20]:
away_team = game_info['away_team'][game_info['game_id'] == game_id]

11978    GSW
Name: away_team, dtype: object

In [38]:
# nn.loc[away_team]['SUM(FG)'] + (0.5*SUM("3P"))
nn.loc[away_team]['SUM("3P")']

team
GSW    16.2
Name: SUM("3P"), dtype: float64

In [34]:
four_factor_columns = ['game_id', 'a_eFGp', 'a_FTr', 'a_ORBp', 'a_TOVp', 'h_eFGp', 'h_FTr', 'h_ORBp', 'h_TOVp']
four_factor_stats = pd.DataFrame(columns=four_factor_columns)
# four_factor_stats['game_id'] = game_id
# four_factor_stats
    gid = game_id
    eFGp = ( nn.loc[team]['SUM(FG)'] + (0.5*nn.loc[team]['"3P"']) ) / nn.loc[team]['SUM(FGA)']
    FTr = nn.loc[team]['SUM(FT)'] / nn.loc[team]['SUM(FGA)']
    ORBp = nn.loc[team]['SUM(ORBp)']*0.01\
    TOVp = nn.loc[team]['SUM(TOV)'] / ( nn.loc[team]['SUM(FGA)'] + 0.44*nn.loc[team]['SUM(FTA)'] + nn.loc[team]['SUM(TOV)'] )
    
    eFGp = (stat_df['FG'].mean() + (0.5 * stat_df['3P'].mean())) / stat_df['FGA'].mean()
    FTr = stat_df['FT'].mean() / stat_df['FGA'].mean()
    ORBp = stat_df['ORBp'].mean()*0.01
    TOVp = stat_df['TOV'].mean() / (stat_df['FGA'].mean() + (0.44*stat_df['FTA'].mean()) + stat_df['TOV'].mean())

Empty DataFrame
Columns: [a_eFGp, a_FTr, a_ORBp, a_TOVp, h_eFGp, h_FTr, h_ORBp, h_TOVp]
Index: []

In [30]:
four_factor_df = game_info
# four_factor_df =

In [33]:
four_factor_df.loc[four_factor_df['game_id'] == game_id]

,game_id,season,date,away_team,away_score,home_team,home_score,result
11978,222304091230,2223,2023-04-09,GSW,157,POR,101,0

In [ ]:
# ss[ss['player'] == 'Trendon Watford']

In [ ]:
# ind_sum_df  = ss.groupby('player').sum()
# ind_sum_df

In [ ]:
# ind_sum_df.sum()

In [ ]:
# for game_id in game_ids:
#     query_df = pd.read_sql(query, con=conn)

In [ ]:
# gid = 222304091230
# away_team = 'GSW'
# date = '2023-04-09'
game_ids = list(team_stats['game_id'].unique())

In [ ]:
def create_gid_query(game_id, date, team='away'):
    away_gid_query = f'''
    SELECT gi.game_id
    FROM game_info gi
    WHERE (gi.away_team = (SELECT away_team FROM game_info WHERE game_id = '{game_id}')
            AND gi.date < '{date}')
       OR (gi.home_team = (SELECT away_team FROM game_info WHERE game_id = '{game_id}')
            AND gi.date < '{date}')
    ORDER BY gi.date DESC
    LIMIT 10;
    '''
    
    home_gid_query = f'''
    SELECT gi.game_id
    FROM game_info gi
    WHERE (gi.away_team = (SELECT home_team FROM game_info WHERE game_id = '{game_id}')
            AND gi.date < '{date}')
       OR (gi.home_team = (SELECT home_team FROM game_info WHERE game_id = '{game_id}')
            AND gi.date < '{date}')
    ORDER BY gi.date DESC
    LIMIT 10;
    '''
    
    if team == 'away':
        return away_gid_query
    elif team == 'home':
        return home_gid_query

In [ ]:
def create_4F_df(query, conn, team_stats, team='away'):
    
    gid_query_df = pd.read_sql(query, con=conn)
    stat_df = gid_query_df.merge(team_stats[['game_id', 'team', 'FG', 'FGA', 'FT', 'FTA', '3P', 'ORBp', 'TOV']])
    
    if team == 'away':
        stat_df = stat_df[stat_df['team'] == away_team].reset_index(drop=True)
    elif team =='home':
        stat_df = stat_df[stat_df['team'] == home_team].reset_index(drop=True)
    
    eFGp = (stat_df['FG'].mean() + (0.5 * stat_df['3P'].mean())) / stat_df['FGA'].mean()
    FTr = stat_df['FT'].mean() / stat_df['FGA'].mean()
    ORBp = stat_df['ORBp'].mean()*0.01
    TOVp = stat_df['TOV'].mean() / (stat_df['FGA'].mean() + (0.44*stat_df['FTA'].mean()) + stat_df['TOV'].mean())
    
    if team == 'away':
        comp_df = pd.DataFrame(data = [[eFGp, FTr, ORBp, TOVp]], columns=['a_eFGp', 'a_FTr', 'a_ORBp', 'a_TOVp'])
    elif team =='home':
        comp_df = pd.DataFrame(data = [[eFGp, FTr, ORBp, TOVp]], columns=['h_eFGp', 'h_FTr', 'h_ORBp', 'h_TOVp'])
    
    return comp_df

In [ ]:
away_stats_df = pd.DataFrame(data = [[eFGp, FTr, ORBp, TOVp]], columns=['a_eFGp', 'a_FTr', 'a_ORBp', 'a_TOVp'])
away_stats_df

In [ ]:
four_factor_columns = list(game_info.columns) + ['a_eFGp', 'a_FTr', 'a_ORBp', 'a_TOVp', 'h_eFGp', 'h_FTr', 'h_ORBp', 'h_TOVp']
four_factor_df = pd.DataFrame(columns=four_factor_columns)
four_factor_df = four_factor_df.append(stats_4F, ignore_index=True)
four_factor_df = four_factor_df.append(stats_4F, ignore_index=True)
four_factor_df

In [ ]:
for game_id in game_ids:
    
    date = game_info[game_info['game_id'] == game_id]['date'].values[0]
    away_team = game_info[game_info['game_id'] == game_id]['away_team'].values[0]
    home_team = game_info[game_info['game_id'] == game_id]['home_team'].values[0]
    
    away_gid_query = create_gid_query(game_id = game_id, date=date, team='away')
    
    away_gid_query_df = pd.read_sql(away_gid_query, con=conn)
    away_4F_df = away_gid_query_df.merge(team_stats[['game_id', 'team', 'FG', 'FGA', 'FT', 'FTA', '3P', 'ORBp', 'TOV']])
    away_4F_df = away_4F_df[away_4F_df['team'] == away_team].reset_index(drop=True)
    
    eFGp = (away_4F_df['FG'].mean() + (0.5 * away_4F_df['3P'].mean())) / away_4F_df['FGA'].mean()
    FTr = away_4F_df['FT'].mean() / away_4F_df['FGA'].mean()
    ORBp = away_4F_df['ORBp'].mean()
    TOVp = away_4F_df['TOV'].mean() / (away_4F_df['FGA'].mean() + (0.44*away_4F_df['FTA'].mean()) + away_4F_df['TOV'].mean())

In [ ]:
four_factor_columns = list(game_info.columns) + ['a_eFGp', 'a_FTr', 'a_ORBp', 'a_TOVp', 'h_eFGp', 'h_FTr', 'h_ORBp', 'h_TOVp']
four_factor_df = pd.DataFrame(columns=four_factor_columns)

for game_id in game_ids:

    date = game_info[game_info['game_id'] == game_id]['date'].values[0]
    away_team = game_info[game_info['game_id'] == game_id]['away_team'].values[0]
    home_team = game_info[game_info['game_id'] == game_id]['home_team'].values[0]

    away_gid_query = create_gid_query(game_id = game_id, date=date, team='away')
    away_stats = create_4F_df(query=away_gid_query, conn=conn, team_stats=team_stats, team='away')

    home_gid_query = create_gid_query(game_id=game_id, date=date, team='home')
    home_stats = create_4F_df(query=home_gid_query, conn=conn, team_stats=team_stats, team='home')
    
    agg_stats = pd.concat([away_stats, home_stats], axis=1)
    gid_info = game_info[game_info['game_id'] == game_id].reset_index(drop=True)
    
    stats_4F = pd.concat([gid_info, agg_stats], axis=1)
    four_factor_df = four_factor_df.append(stats_4F, ignore_index=True)

In [ ]:
four_factor_df.head(25)

In [ ]:
four_factor_df.to_csv('four_factor_10.csv')